/* src/layout/MainLayout.css */

.main-layout {
  align-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 1rem;
  flex: 1;

  overflow-y: auto;
  background-color: #ffffff;
}
