/* src/layout/MainLayout.css */

.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-body {
  display: flex;
  flex: 1;
  margin-top: 60px; /* height of TopNav */
}

.main-content {
  margin-left: 200px; /* width of Sidebar */
  padding: 1rem;
  flex: 1;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #fff0f5; /* soft pink */
}
